@media screen and (max-width: 1220px) {
    section.card-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
  main h1 {
    text-align: center;
  }
  header #logo {
    margin: 0 auto;
  }

  article.card {
    width: 350px;
  }
}

@media screen and (max-width: 768px) {
    article.card {
      width: 300px;
    }
  }